<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="//www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
</head>
<body>
<p>
    {if $name == 'JetSaus'}
        Переданная переменная - {$name}
    {else}
        Другая переменная
    {/if}
</p>
</body>
</html>